extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Meetings List
					div.signup-wall
						ul.user-details
							each val in meetings
								li 
									a(href="/meetings/#{val._id}") #{val.name}
							
